@import '@/styles';

$prefixCls: '.#{$componentPrefixCls}-radio' !default;

#{$prefixCls} {
  // display: inline-flex;
  * {
    @include transition;
  }
  &-item {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
    min-height: 64px;
    padding: 12px 0;
    box-sizing: border-box;
    cursor: pointer;
    width: 200px;
    @include respond-to {
      width: calc(50% - #{r(30)});
      margin-right: 0;
      margin-left: r(20);
      // &:nth-child(3n) {
      margin-top: r(20);
      // }
    }
    &-disabled {
      cursor: not-allowed;
      #{$prefixCls}-item {
        &-icon {
          border-color: palette('disabled');
        }
        &-label {
          color: palette('disabled', 'dark');
        }
      }
    }
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-icon {
      @include flex;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 1px solid palette('border');
    }
    &-label {
      text-align: center;
      width: 100%;
    }
    &-hidden {
      visibility: hidden;
    }
    &-checked,
    &:hover:not(#{&}-disabled) {
      #{$prefixCls}-item-icon {
        border-color: palette('primary');
      }
      div,
      span {
        color: palette('primary') !important;
      }
    }
  }
}
