@import '@/styles';

$prefixCls: '.#{$componentPrefixCls}-switch' !default;

#{$prefixCls} {
  @include transition;
  @include component-reset;
  height: 22px;
  line-height: 32px;
  display: inline-flex;
  position: relative;
  border-radius: 16px;
  width: 44px;
  cursor: pointer;
  background: palette('background', 'dark');
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    &:active + #{$prefixCls}-icon {
      width: 24px;
    }
  }
  &-icon {
    @include transition;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background: #fff;
    position: relative;
    left: 2px;
    top: 2px;
    &-checked {
      left: 100%;
      transform: translateX(calc(-100% - 2px));
    }
  }
  &-checked {
    background: palette('primary');
    &#{$prefixCls}-disabled {
      background: palette('primary', 'light');
    }
  }
  &-disabled {
    background: palette('disabled');
    cursor: not-allowed;
  }
}
