@import '@/styles';

$prefixCls: '.#{$componentPrefixCls}-dropdown' !default;

#{$prefixCls} {
  @include component-reset;
  @include transition;
  cursor: pointer;
  position: relative;
  height: 32px;
  padding: 0 12px;
  display: inline-flex;
  align-items: center;
  color: #aaabb0;
  &-ul {
    @include transition;
    position: absolute;
    box-shadow: shadow();
    padding: 0;
    margin: 0;
    list-style: none;
    top: 100%;
    width: 100%;
    left: 0;
    transform-origin: 0% 0%;
    background: #fff;

    &-enter {
      transform: rotateX(90deg);
      opacity: 0;

      &-active {
        transform: none;
        opacity: 1;
      }
    }

    &-exit {
      transform: rotateX(90deg);
      opacity: 0;
    }
  }
  &-item {
    // padding-left: 12px;
    margin: 0;
    // display: inline-flex;
    // align-items: center;
    width: 100%;
    text-align: center;
    // height: 32px;
    a {
      color: #333 !important;
    }
    color: #333;
    &:hover {
      background: palette('background');
    }
  }
  &-icon {
    @include transition;
    display: inline-block;
    margin-left: 8px;
    &-active {
      transform: rotate(180deg);
    }
  }
}
