@import '@/styles';

.play-ground{
  &-button{
    max-width: calc(100vw - 32px);
    height: calc(100vh - 160px);
    margin: 0 auto;
    padding: 0 30px;
    display:grid;
    grid-template-columns: repeat(auto-fill,530px);
    grid-template-rows:repeat(3,1fr)
  }
  div[class*='button-group']{
    button,a{
      margin: 0;
    }  
  }
  .group-wrapper{
    display: flex;
    flex-wrap: wrap;
    div{
      margin-right: 15px;
    }
  }
  @for $section from 1 to 10 {
    .section-0#{$section}{
      margin: 16px;
      border:1px solid #ebedf0;
      padding: 15px;
      button,a{
        margin:10px;
      }
      h4{
        margin-bottom:10px;
      }
    }
  }
}