@import '@/styles';

$prefixCls: '#{$component-prefix}-col';

@mixin make-col-items($screen: '') {
  @for $index from 0 to $grid-columns {
    $normizedIndex: $index + 1;
    .#{$prefixCls}#{$screen}-#{$normizedIndex} {
      width: percentage($number: $normizedIndex / $grid-columns);
    }
    .#{$prefixCls}#{$screen}-order-#{$normizedIndex} {
      order: $normizedIndex;
    }
    .#{$prefixCls}#{$screen}-offset-#{$normizedIndex} {
      margin-left: percentage($number: $normizedIndex / $grid-columns);
    }
    .#{$prefixCls}#{$screen}-push-#{$normizedIndex} {
      left: percentage($number: $normizedIndex / $grid-columns);
    }
    .#{$prefixCls}#{$screen}-pull-#{$normizedIndex} {
      right: percentage($number: $normizedIndex / $grid-columns);
    }
  }
}

@include make-col-items;

.#{$prefixCls} {
  position: relative;
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
}

@each $screen, $value in $breakpoints {
  @include respond-to($screen) {
    @include make-col-items(-#{$screen});
  }
}
